<h6>
<p>All Head Panels are digital prints. This is just a partial assortment of standard head panels available. Head Panels are standard on the #1242 Tribute series with matching Emblems.</p>
<p>Any caskets center can be upgraded with a Head Panel for a $50.00 charge for the standard prints. We can also do custom prints of pictures or lettering. Just supply us with a good quality picture or tell us what you would like to say; prices will depend on detail and size, we will give a quote per unit.</p>
</h6>